@media (max-width: 868px) {
   //Планшеты
   .container {
      grid-template-columns: auto;
      grid-template-areas: "header header"
                           "menu menu"
                           "content content"
                           "left-sidebar right-sidabar"
                           "footer footer";
   }
}
@media (max-width: 680px) {
   //Телефоны
   body {
      font-size: 14px;
   }
   .container {  
      grid-template-columns: auto;
      grid-template-areas: "header"
                           "menu"
                           "left-sidebar"
                           "content"
                           "right-sidabar"
                           "footer";
   }
   .menu-area {
      .menu {
         flex-direction: column;
         height: auto;
         padding: 0;
         &-item {  
            width: 100%;
            a {
               color: $primary-color-text;
               &:hover {
                  background-color: $accent-color;
               }
            }
         }
      }
   }
}