$primary-color-dark:   #303F9F;
$primary-color:        #3F51B5;
$primary-color-light:  #C5CAE9;
$primary-color-text:   #FFFFFF;
$accent-color:         #448AFF;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

html {
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
}
body {
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
}
.container {
   //Главный контейнер сайта
   display: grid;
   grid-gap: .5em;
   grid-template-columns: 23% auto 23%;//270px 630px 270px
   grid-template-rows: auto;
   grid-template-areas: "header header header"
                        "left-sidebar content right-sidabar"
                        "footer footer footer";
   max-width: 1170px;
   margin: 0 auto;
}
.header {
   //Шапка сайта
   grid-area: header;
   font-size: 1em;
   background-image: url(../img/background.jpg);
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   min-height: 350px;
   color: $primary-color-text;  
   box-shadow: 0.13em 0.13em 0.08em 0.08em $primary-text-color;
   div {
      text-shadow: 1px 1px 2px black;
      padding: 10px;
      h1 {
         margin: 0;
         padding: 0;
         font-weight: 400;
         font-size: 2.5em;
      }
      span {
         font-size: .9em;
         display: block;
      }
   }
   
}
.left-sidebar {
   //Левое меню
   grid-area: left-sidebar;
   border: red 1px solid;

}
.content {
   //Содержимое сайта
   grid-area: content;
   border: red 1px solid;
}
.right-sidabar {
   //Правое меню
   grid-area: right-sidabar;
   border: red 1px solid;

}
.footer {
   //Подвал сайта
   grid-area: footer;
   background-color: $primary-color-dark;
   font-size: 1em;
   text-align: center;
   color: $primary-color-text;
   padding: 20px 0;
   box-shadow: 0.13em 0.13em 0.08em 0.08em $primary-text-color;
}