html {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #C5CAE9;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

.container {
  display: -ms-grid;
  display: grid;
  grid-gap: .5em;
  -ms-grid-columns: 23% auto 23%;
      grid-template-columns: 23% auto 23%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "header header header" "menu menu menu" "left-sidebar content right-sidabar" "footer footer footer";
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  font-size: 1em;
  background-image: url(../img/background.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 350px;
  color: #FFFFFF;
  -webkit-box-shadow: 0.13em 0.13em 0.08em 0.08em #212121;
          box-shadow: 0.13em 0.13em 0.08em 0.08em #212121;
}

.header div {
  text-shadow: 1px 1px 2px black;
  padding: 1rem;
}

.header div h1 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 2.5em;
}

.header div span {
  font-size: .9em;
  display: block;
  margin-bottom: 0.5em;
}

.menu-area {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: menu;
  -webkit-box-shadow: 0.13em 0.13em 0.08em 0.08em #212121;
          box-shadow: 0.13em 0.13em 0.08em 0.08em #212121;
  font-size: 1em;
}

.menu-area .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #303F9F;
  height: 50px;
  margin: 0;
  list-style: none;
}

.menu-area .menu-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  padding: 0 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.menu-area .menu-item a:hover {
  background-color: #448AFF;
}

.left-sidebar {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: left-sidebar;
  background-color: #FFFFFF;
  padding: 2rem;
  min-height: 400px;
  -webkit-box-shadow: 0.13em 0.13em 0.08em 0.08em rgba(33, 33, 33, 0.8);
          box-shadow: 0.13em 0.13em 0.08em 0.08em rgba(33, 33, 33, 0.8);
}

.content {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: content;
  background-color: #FFFFFF;
  padding: 2rem;
  min-height: 400px;
  -webkit-box-shadow: 0.13em 0.13em 0.08em 0.08em rgba(33, 33, 33, 0.8);
          box-shadow: 0.13em 0.13em 0.08em 0.08em rgba(33, 33, 33, 0.8);
}

.content img {
  width: 100%;
}

.right-sidabar {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: right-sidabar;
  background-color: #FFFFFF;
  padding: 2rem;
  min-height: 400px;
  -webkit-box-shadow: 0.13em 0.13em 0.08em 0.08em rgba(33, 33, 33, 0.8);
          box-shadow: 0.13em 0.13em 0.08em 0.08em rgba(33, 33, 33, 0.8);
}

.footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  background-color: #303F9F;
  font-size: 1em;
  text-align: center;
  color: #FFFFFF;
  padding: 2rem 0;
  -webkit-box-shadow: 0.13em 0.13em 0.08em 0.08em #212121;
          box-shadow: 0.13em 0.13em 0.08em 0.08em #212121;
}

@media (max-width: 768px) {
  .container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
        grid-template-areas: "header" "menu" "left-sidebar" "content" "right-sidabar" "footer";
  }
}
/*# sourceMappingURL=main.css.map */